// compileCompressed: ../css/buy-choose.css
$majorColor:#ffd237;
$weiruan:"微软雅黑";
.abanden {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    width: 1160px;
    height: 130px;
    margin: 0 auto;
    .logo {
        width: 400px;
        height: 130px;
        float: left;
        img {
            width: 380px;
            margin-top: 20px;
        }
    }
    .head {
        width: 760px;
        height: 50px;
        float: left;
        margin-top: 73px;
        border-bottom: 2px solid $majorColor;
        p {
            font-family: "微软雅黑";
            font-size: 28px;
            cursor: default;
            @extend .abanden;
        }
        span {
            font-size: 12px;
            font-family: "微软雅黑";
            float: right;
            margin-top: -15px;
            cursor: pointer;
            @extend .abanden;
            a {
                color: black;
            }
        }
    }
}

.muenbg {
    width: 100%;
    min-width: 1160px;
    height: 35px;
    background: $majorColor;
    .muen {
        width: 1160px;
        margin: 10px auto auto auto;
        p {
            font-size: 18px;
            font-family: $weiruan;
            line-height: 35px;
            font-weight: bold;
            cursor: pointer;
            float: left;
            @extend .abanden;
        }
    }
}

.content {
    width: 1160px;
    margin: 30px auto auto auto;
    .alterGame {
        width: 1145px;
        height: 44px;
        ul {
            width: 1108px;
            height: 44px;
            border: 1px solid #ccc;
            border-right: none;
            li {
                width: 41px;
                height: 42px;
                border-right: 1px solid #ccc;
                float: left;
                text-align: center;
                line-height: 42px;
                background: #eee;
                font-size: 18px;
                cursor: pointer;
                @extend .abanden;
                &:hover {
                    background: #ddd;
                }
            }
        }
    }
    .alterGameContent {
        width: 1145px;
        margin-top: 50px;
        ul {
            width: 1145px;
            li {
                width: 162px;
                height: 34px;
                line-height: 34px;
                font-size: 16px;
                text-align: center;
                float: left;
                @extend .abanden;
                a {
                    color: black;
                    font-family: '微软雅黑';
                    text-decoration: none;
                }
            }
        }
    }
}