@import 'mu.scss';
.pvcontent {
    padding: 15px;
    .pvtitle {
        padding-left: 15px;
        background: $majorColor;
        p {
            height: 35px;
            line-height: 35px
        }
    }
    .messagetitle {
        text-align: center;
        margin-top: 25px;
        padding: 15px;
        p {
            font-size: 20px;
            font-weight: bold;
        }
    }
    .quote {
        margin-top: 10px;
    }
    .discribe {
        margin-top: 30px;
        border: 1px solid #ccc;
        padding: 15px;
        p {
            text-indent: 2em;
        }
    }
    .paging {
        margin-top: 30px;
    }
}