@import 'mu.scss';
.pvcontent {
    padding: 15px;
    .pvtitle {
        padding-left: 15px;
        background: $majorColor;
        height: 35px;
        line-height: 35px;
    }
    .nav {
        margin-top: 30px;
    }
    .pvcontont {
        margin-top: 50px;
        table {
            th {
                vertical-align: middle;
                text-align: left;
            }
            td {
                vertical-align: middle;
                text-align: left;
            }
        }
        .paging {
            display: flex;
            align-items: flex-start;
            div {
                display: flex;
                align-items: baseline;
                margin-top: 20px;
                margin-left: 20px;
            }
        }
    }
}